<div class="row">
  <div class="col">
    <h2>Les meves dades</h2>
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col form-group">
          <label for="name">Nom</label>
          <input id="name" class="form-control" type="text">
        </div>
        <div class="col form-group">
          <label for="lastname">Cognom</label>
          <input id="lastname" class="form-control" type="text">
        </div>
      </div>
    </form>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Les meves adreces</h2>
    <ul class="list-group" *ngIf="userAddresses.length > 0; else noAddressesTpl">
      <li class="list-group-item" *ngFor="let address of userAddresses.controls; let idx = index">
        <div class="d-inline-block">{{ address.value | userAddress }}</div>
        <div class="d-inline-block float-right">
          <button class="btn btn-outline-warning ml-auto mr-2" (click)="onClickEditAddress(idx)">Edita</button>
          <button class="btn btn-outline-danger" (click)="onClickDeleteAddress(idx)">Elimina</button>
        </div>
      </li>
    </ul>

    <h3>Editor d'adreces</h3>
    <form [formGroup]="addressForm" (ngSubmit)="onSubmitAddressForm()" (reset)="onResetAddressForm()">
      <div class="row">
        <div class=" col form-group">
          <label for="street">Carrer</label>
          <input id="street" type="text" class="form-control">
        </div>
        <div class=" col form-group">
          <label for="postal-code">Codi postal</label>
          <input id="postal-code" type="text" class="form-control">
        </div>
        <div class=" col form-group">
          <label for="city">Ciutat</label>
          <input id="city" type="text" class="form-control">
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <ng-container [ngTemplateOutlet]="loadedAddress ? editAddressTpl : addAddressTpl"></ng-container>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="d-flex justify-content-end mt-3">
  <button class="btn btn-outline-success mr-2">Guarda</button>
</div>
<pre>
  <span>Estat del formulari: {{ form.status }}</span>
</pre>

<ng-template #addAddressTpl>
  <button class="btn btn-outline-success mr-2">Afegeix</button>
  <button class="btn btn-outline-danger ml-2" type="reset">Esborra</button>
</ng-template>

<ng-template #editAddressTpl>
  <button class="btn btn-outline-success mr-2">Actualitza</button>
  <button class="btn btn-outline-danger ml-2" type="reset">Cancel·la</button>
</ng-template>

<ng-template #noAddressesTpl>
  <div class="my-3">
    <h4>Actualment no tens cap adreça guardada</h4>
  </div>
</ng-template>
